header {
  position: absolute;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 1rem;
  width: 100%;
  z-index: 9999; 
  
  @include mq(map-get($breakpoints, s)) {
    padding: 2rem 5rem;
    width: 100%;
  }
  @include mq(map-get($breakpoints, m)) {
    display: grid;
    grid-template-columns: 8rem 1fr 9rem;
    gap: 1rem;
  }

  & .logo_link {
    z-index: 999;
    & img {
      max-width: 8rem;
      height: auto;
    }
  }

  & nav {
    z-index: 998;
    position: absolute;
    top: 0;
    left: -100%;
    bottom: 0;
    height: 100vh;
    width: 100%;
    transition: all 0.5s, background-color 0s;
    padding: 8rem 1rem;
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: var(--fs-800);
    background-color: var(--clr-neutral-1000);

    @include mq(map-get($breakpoints, m)) {
      padding: 0;
      position: static;
      height: auto;
      width: auto;
      background-color: transparent;
    }
    & ul {
      display: grid;
      place-items: center;
      text-align: center;
      height: 100%;
      @include mq(map-get($breakpoints, m)) {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
      }
      @include mq(map-get($breakpoints, l)) {
        gap: 2rem;
      }
      & li {
        & a {
          text-decoration: none;
          font-family: "Cormorant";
          font-weight: bold;
          font-size: var(--fs-500);
          color: var(--clr-neutral-100);
          @include mq(map-get($breakpoints, m)) {
            font-size: calc(var(--fs-500) * 0.5);
            font-family: "Futura LT";
            font-weight: 300;
          }
          @include mq(map-get($breakpoints, l)) {
            font-size: var(--fs-300);
          }
          @include mq(map-get($breakpoints, xl)) {
            font-size: calc(var(--fs-400) * 0.9);
          }
        }
      }
    }
    & .phone_btn_mobile {
      height: fit-content;
      display: grid;
      place-items: center;
      text-decoration: none;
      padding: 0.3rem;
      border-radius: 100%;
      color: var(--clr-neutral-100);
      background-color: var(--clr-green-100);

      @include mq(map-get($breakpoints, m)) {
        display: none;
      }
      & i {
        border-radius: 100%;
        padding: 0.5rem;
        transform: scaleX(-1);
        border: var(--b-200);
        font-size: var(--fs-500);
        line-height: var(--fs-500);
      }
    }
    &.show {
      left: 0;
    }
  }

  & .burger {
    z-index: 999;
    display: grid;
    justify-content: space-between;
    height: 1.5rem;

    @include mq(map-get($breakpoints, m)) {
      display: none;
    }
    & .line {
      border: none;
      background-color: white;
      height: 0.15rem;
      width: 1.5rem;
      transform-origin: right center;
      transition: all 0.5s;
    }
    & .line3 {
      width: 1rem;
    }
  }

  & .close {
    & .line1 {
      width: 1.35rem;
      transform: rotate(-45deg);
    }
    & .line2 {
      opacity: 0;
      width: 0;
    }
    & .line3 {
      width: 1.35rem;
      transform: rotate(45deg);
    }
  }

  & .reserve_button {
    z-index: 997;
    box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.3);
    position: fixed;
    display: grid;
    padding: 0.5rem;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--clr-neutral-1000);
    transition: left 1s, right 1s, opacity 0.5s 0.35s;

    @include mq(map-get($breakpoints, s)) {
      padding: 0.5rem 5rem;
    }
    @include mq(map-get($breakpoints, m)) {
      box-shadow: none;
      position: static;
      padding: 0;
      background-color: transparent;
    }
    & a {
      text-decoration: none;
      padding: 0.5rem 0;
      text-align: center;
      background-color: var(--clr-neutral-1000);
      color: var(--clr-neutral-100);
      border: var(--b-100);
      font-size: var(--fs-400);
      font-family: "Cormorant";
      font-weight: bold;
      width: 100%;

      @include mq(map-get($breakpoints, m)) {
        background-color: transparent;
        font-size: var(--fs-300);
        color: var(--clr-neutral-100);
      }
    }
  }

  &.colored {
    position: static;
    background-color: var(--clr-neutral-1000);
  }

  &.scrolled {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
    background-color: var(--clr-neutral-1000);
    & .logo_link {
      & img {
        width: 6rem;
      }
    }
    & .reserve_button {
      opacity: 0.4;
      left: 150%;
      right: -150%;

      @include mq(map-get($breakpoints, m)) {
        opacity: 1;
      }
    }
  }
}
